<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <h2>About Us</h2>
                  <p>
                      We are an eco-friendly company and are committed to keeping the local area clean.
                  </p>
                  <p>
                      We are dedicated to providing excellent customer service, we believe the customer is always right and we want you to have the best online shopping experience possible.
                  </p>  
                  <p>
                      We don’t agree with the outrageously expensive prices that supermarkets and other pet retailers offer so we will always offer the lowest prices possible.
                  </p> 
                  <p>
                      We want to save you time with buying pet food and supplies, that’s why our website is easy to use and we offer a fast, efficient service.
                  </p>   
                  <p>
                      We put your pet first. As a team of pet owners we understand the relationship that pet owners have with their beloved animals and we will only provide the best possible service to benefit your pet.
                  </p>    
                  <p>
                      We think helping charities is really important, that’s why we support dogs trust and sponsor local guide dogs. We also actively encourage people to rescue pets by bringing down the price of pet supplies.
                  </p>
                  
              </div>
          </div>
      </div>
  </div>